body,h1,h2,h3,h4,h5,h6
{font-family:"lato",sans-serif}
#sidebar p
{
	margin-top:58px;
	margin-bottom: 50px;
	padding: 20px 10px;
	border-radius: 10px;
	border: 2px solid black;
	background-color: #008ae6;
	color: black;
	font-size: 25px;
}
#sidebar p:hover
{
	background-color: #99d6ff;
}
#sidebar a:hover
{
	text-decoration: none;
}
.about-us 
{	
	padding: 15px;
}
.about-us p
{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;

}
.about-us h2
{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top:5px;
}
h1
{
	font-size:30px;
	color:white
}
.pos1
{
	position: absolute;
	top: 20%; 
	right:20px;
}
.pos2
{
	position: absolute;
	bottom: 20%;
	right: 20px;
}
.login
{
	background-color: #80ccff;
	font-size: 16px;
	text-decoration: bold;
}
.login:hover
{
	background-color:#000000;
	color: #ffffff;
}
.contact1
{
	color: white;
	position: absolute;
	top:20%;
	left:60%;
}
.contact2
{
	color: white;
	position: absolute;
	top:40%;
	left:60%;
}
.contact2 span:hover
{
	color: white;
	background-color: black;
	text-decoration: none;
}
.footer
{
	background-color: #006bb3;
	
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
.butn2 
{
	background-color: black;
}
.butn2 a
{
	color: white;
}
.butn2:hover
{
	background-color: #99d6ff;
}
.butn2 a:hover
{
	color: black;
}
body
{
  background-image:url(https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-blue-cyber-security-technology-banner-background-image_260855.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#header-nav
{
	background-color: #006bb3
}
#nav-list {
	margin-top: 60px;
}
#nav-list a
{
	color: white;
	border: 1px white; 
	box-shadow: 1px white;
}
#nav-list a:hover
{
	background-color: #99d6ff;
	color: black;
}
h3
{
	margin-top: -5px;
	color:black;
}
.button  {
  border-radius: 4px;
  background-color: #004d80;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  right: 30px;
  bottom: 75px;
}
.button a
{
  color: white;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
@media(max-width: 768px)
{
    #header-nav
    {
    	height: 140px;
    }
    .navbar-brand
    {
    	position: absolute;
    	left: 120px;
    }
    .foot
    {
      position: absolute;
      bottom: 0px;
    }
    .about-us p
    {
      font-size: 3.2vw;
    }
    .short {
      font-size: 3.2vw;
    }
}
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
}
.storehead {
	color: black ;
	padding-top: 40px ;

}
.gpsbtn {
	position: relative;
	
	background-color: #0099ff;
	color: black;
	text-decoration: bold;
}
.gpsbtn:hover {
	background-color: #99d6ff;
}
.collapse{
  font-size: 15px;
  
}
.coll-bottom{
  padding-bottom:100px;
}
.coll-bottom2{
  padding-bottom:20px;
}
.btn .btn-info{
  padding-bottom: 5px;

  size:30px;
  font-size: 20px;
  
  
}
.signin
{
  font-weight: bold;
  font-size: 40px;
  color: black;
}
.button3  {
  border-radius: 4px;
  background-color: #004d80;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
 
}
.button3 a {
  color:white;
}
.button3 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}
.button4 {
  border-radius: 4px;
  background-color: #004d80;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  
}
.button4 a
{
  color:white;
}
.button4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button4 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button4:hover span {
  padding-right: 25px;
}

.button4:hover span:after {
  opacity: 1;
  right: 0;
}
.result{
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: transparent;
  padding-right: 50px;
}